---
import SiteLayout from "../layouts/siteLayout.astro";
import Header from "../components/Header.astro";
import ResumeBody from "../components/ResumeBody.astro";
import Footer from "../components/Footer.astro";
---

<SiteLayout title="Marton Varga | Portfolio" description="Portfolio for Marton Varga, Software Engineer & Chemical Engineer.">
  <Header
    name="Marton Varga"
    title="Software Engineer • Chemical Engineer • Formulation Chemist"
    location="Centennial, CO"
    email="marton@vargaventure.com"
    phone="(615) 715-0431"
    site="martonvarga.com"
  />

  <main class="container">
    <ResumeBody />
  </main>

  <Footer />
</SiteLayout>
