---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";

const { title = "Marton Varga's Portfolio", description = "E-Portfolio for Marton Varga, Software Engineer & Chemical Engineer" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title} description={description} />
     <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="48x48" href="/mvLogoFavicon.png" />
  </head>
  <body>
    <SiteHeader />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
